@charset "utf-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
    cursor: none; 
    color: #333;
}
.cursor{ 
    position: fixed; 
    background: #ff1c3e; 
    width: 0.9375rem; 
    height: 0.9375rem; 
    margin: -0.625rem 0 0 -0.625rem; 
    border-radius: 50%; 
    will-change: none; 
    -webkit-user-select: auto; 
    -moz-user-select: auto; 
    -ms-user-select: auto; 
    user-select: auto; 
    pointer-events: none; 
    z-index: 99999; 
    border: none;
}
.txt_cursor{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    opacity: 0;
}

/* #fp-nav ul li a span{
    color: #333;
    
}
#fp-nav ul li .fp-tooltip{
    color: #333;
} */
header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.header_inner{
    width: 75rem;
    margin: 0 auto;  
    display: flex;
    align-items: center;
    justify-content: space-between; 

}
.header_inner .gnb{
    display: flex;
    align-items: center;
    height: 5rem;
}
.header_inner .gnb li{
    margin-left: 1.25rem;
}
.header_inner .gnb li a{
    color: #333;
    padding: 0.625rem 1.25rem;
    box-sizing: border-box;
    cursor: none;
    font-size: 1rem;
}
/* #fp-nav ul li a span{
    background: rgb(27, 117, 133);
}
.fp-sr-only{
    color: rgb(27, 117, 133);
} */
#section1{
    width: 100%;
    height: 100vh;
    /* background: rgb(27, 117, 133); */
    /* background: rgb(221, 172, 36); */
    background: #00CDCD;
}

#section1 .pattern .circle{ 
    float: left;
    transform: rotate(45deg);
    margin: 3.125rem;
}
#section1 .pattern .circle1{
    position: absolute;
    left: 30%;
    top: 30%;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: #fff;
    animation: shine 3s linear infinite alternate
}
#section1 .pattern .circle2{
    position: absolute;
    left: 80%;
    top: 40%;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #fff;
    animation: shine 5s 1s linear infinite alternate
}
#section1 .pattern .circle3{
    position: absolute;
    left: 55%;
    top: 85%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    animation: shine 3s 2s linear infinite alternate
}
#section1 .pattern .circle4{
    position: absolute;
    left: 85%;
    top: 70%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
 
}
#section1 .pattern .circle5{
    position: absolute;
    left: 10%;
    top: 85%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    animation: shine 5s 3s linear infinite alternate
}
#section1 .pattern .circle6{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;

}
#section1 .pattern .circle7{
    position: absolute;
    left: 25%;
    top: 45%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;

}
#section1 .pattern .circle7{
    position: absolute;
    left: 65%;
    top: 70%;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;

}
#section1 .pattern .circle8{
    position: absolute;
    left: -5%;
    top: -20%;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 1px solid #fff;

}
/* #section1 .pattern .circle9{
    position: absolute;
    right: -10%;
    bottom: -10%;
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
 
} */
#section1 .pattern .circle10{
    position: absolute;
    left: 30%;
    top: 10%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    animation: shine 5s 4s linear infinite alternate
}
#section1 .pattern .circle11{
    position: absolute;
    left: 60%;
    top: 60%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
}
#section1 .pattern .circle12{
    position: absolute;
    left: 90%;
    top: 30%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;

}
#section1 .pattern .circle13{
    position: absolute;
    left: 30%;
    top: 70%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;

}
#section1 .pattern .circle14{
    position: absolute;
    left: 15%;
    top: 60%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    animation: shine 5s 5s linear infinite alternate
}
/* .circle:nth-child(2n+0){
    animation: shine 1.2s linear infinite alternate;
  }
  .circle:nth-child(2n+1){
    animation: shine 1.2s 1.5s linear infinite alternate;
  } */
  @keyframes shine{
    50% {
        box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
        opacity: 0;
    }
    100% {
        box-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
    }
  }
#section1 .po1{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 10rem;
    font-weight: 900;

   }
#section1 .po2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 10rem;
    font-weight: 900;
    /* color: #9EFF00; */
    /* color: #eb3dff; */
    color:#ff1c3e;
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
   0%, 100% {clip-path: polygon(0% 46%, 16% 45%, 34% 52%, 50% 61%, 68% 65%, 85% 61%, 100% 53%, 100% 100%, 0% 100%);} 
   50% {clip-path: polygon(0% 66%, 14% 73%, 34% 76%, 50% 71%, 64% 62%, 79% 55%, 100% 51%, 100% 100%, 0% 100%);}
}

#section2{
    width: 100%;
    height: 100vh;
    position: relative;
}
#section2 .circle20{
    position: absolute;
    right: -10%;
    top: -45%;
    /* transform: translate(-50%); */
    width: 56.25rem;
    height: 56.25rem;
    border-radius: 50%;
    border: 1px solid #00CDCD;
    /* z-index: 10000; */
}
#section2 .section2_inner{
    width: 75rem;
    margin: 0 auto;
    height: 100vh;
    padding: 13rem 2rem;
    box-sizing: border-box;
    position: relative;    
    /* overflow: hidden; */
    /* border: 1px solid #000; */
}

#section2 .section2_inner .fadeleft{
    /* margin-left: 6rem; */
    transform: translate(-8rem,0);
    transition: all 1.2s ease-in-out;

}
#section2.active .section2_inner .fadeleft{
    transform: translate(0,0);
    transition: all 1.2s ease-in-out;
}

#section2 .section2_inner h2{
    font-size: 3rem;
    margin-bottom: 1.875rem;
    font-weight: 700;
    position: relative;
}
#section2 .section2_inner h2::before{
    content: '';
    position: absolute;
    left: -1.875rem;top: 0;
    width: 1.25rem;
    height: 1.25rem;
    background: #00CDCD;
    border-radius: 50%;
}
/* #section2 .section2_inner h2::after{
    content: '';
    position: absolute;
    left: -10px;
    top: -5px;
    width: 12px;
    height: 12px;
    background: #ff1c3e;
    border-radius: 50%;
    
} */
#section2 .section2_inner p{
    font-size: 1.6rem;
    margin-bottom: 3.75rem;
    line-height: 2.25rem;
    font-weight: 300;
    letter-spacing: 1px;
}
#section2 .section2_inner p span{
    font-weight: 500;
    color: #00CDCD;
}
#section2 .section2_inner .about{
 
}
#section2 .section2_inner .about .me_txt{
    display: flex;
}
#section2 .section2_inner .about .me_txt .me_txt1{
    margin-right: 3.125rem;
}
#section2 .section2_inner .about .me_txt .me_txt1 li{
    color:#00CDCD
}
#section2 .section2_inner .about .me_txt ul li{
    margin-bottom: 1.125rem;
    
}
#section2 .section2_inner .about .me_txt .me_txt1 li:nth-child(3){
    margin-bottom: 3.75rem;
}
#section2 .section2_inner .about .me_txt .me_txt1 li:last-child{
    margin-top: 3.75rem;
    margin-bottom: 1.875rem;
}
#section2 .section2_inner .about .me_txt .me_txt2 li{
    font-weight: 300;
}
#section2 .section2_inner .about .me_txt .me_txt2 li:nth-child(3){
    line-height: 1.875rem;
    margin-top: -6px;
}
#section2 .section2_inner .about .me_txt .me_txt2 li:last-child{
    margin-top: 1.375rem;

}
#section2 .section2_inner .about .me_img img{
    position: absolute;
    right: 0;
    top: 0;
    width: 21.875rem;
    margin-top: 13.5rem;
    transform: translate(8rem,0);
    transition: all 1.2s ease-in-out;
}

#section2.active .section2_inner .about .me_img img{
    transform: translate(0,0);
    transition: all 1.2s ease-in-out;
}
.skill{
    /* display: flex; */
    /* margin: 2rem 0 0 6rem; */
    overflow: hidden;
}
.skill .sk{
    float: left;
    position: relative;
    margin-right: 2rem;

}
#section2 .skill .sk{
    transform: translate(0,6.5rem);
    /* transition: all 1.2s ease-in-out;  */

}

#section2.active .skill .sk:nth-child(1){
    transform: translate(0,0);
    transition: all 0.4s 0.2s ease-in-out;
}
#section2.active .skill .sk:nth-child(2){
    transform: translate(0,0);
    transition: all 0.4s 0.4s ease-in-out;
}
#section2.active .skill .sk:nth-child(3){
    transform: translate(0,0);
    transition: all 0.4s 0.6s ease-in-out;
}
#section2.active .skill .sk:nth-child(4){
    transform: translate(0,0);
    transition: all 0.4s 0.8s ease-in-out;
}
#section2.active .skill .sk:nth-child(5){
    transform: translate(0,0);
    transition: all 0.4s 1s ease-in-out;
}
#section2.active .skill .sk:nth-child(6){
    transform: translate(0,0);
    transition: all 0.4s 1.2s ease-in-out;
    margin-right: 0;
}
.skill .sk h4{

    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    z-index: 15;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    color: #333;
}

#section3{
    width: 100%;
    height: 100vh;
}
#section3 .section3_inner{
    width: 75rem;
    margin: 0 auto;
    height: 100vh;
    padding: 10rem 2rem;
    box-sizing: border-box;
    position: relative;    
    /* overflow: hidden; */
}

#section3 .section3_inner h2{
    font-size: 3rem;
    margin-bottom: 1.875rem;
    font-weight: 700;
    position: relative;
    transform: translate(-8rem,0);
    transition: all 1.2s ease-in-out;
}

#section3.active .section3_inner h2{
    transform: translate(0,0);
    transition: all 1.2s ease-in-out;
}
#section3 .section3_inner .tab_menu{
    position: absolute;
    left: 50%;
    bottom: 3.75rem;
    transform: translate(-50%);
    display: flex;
 
}
#section3 .section3_inner .tab_menu li{
    margin-right: 80px;

}
#section3 .section3_inner .tab_menu li:last-child{
    margin-right: 0;
}
#section3 .section3_inner .tab_menu li a{
    color: #333;
    font-size: 1rem;
    border: 1px solid #00CDCD;
    color: #00CDCD;
    /* border-radius: 4px; */
    padding: 7px 25px;
    transition: all 0.3s ease-in-out;
    cursor: none;
}

#section3 .section3_inner .tab_menu li.on a {
    background: #00CDCD;
    color: #fff;
}
#section3 .section3_inner h2::before{
    content: '';
    position: absolute;
    left: -1.875rem;top: 0;
    width: 1.25rem;
    height: 1.25rem;
    background: #00CDCD;
    border-radius: 50%;
}
#section3 .section3_inner .wrap .mockup,
#section3 .section3_inner .wrap .m_mockup{

    /* border: 1px solid #000; */
    /* overflow: hidden; */
    height: 600px;
    transform: translate(0,6rem);
    transition: all 1.2s ease-in-out;
}

#section3.active .section3_inner .wrap .mockup,
#section3.active .section3_inner .wrap .m_mockup{
    transform: translate(0,0);
    transition: all 1.2s ease-in-out;
}

.slick{
    margin: 0 auto;
}

.slick .slick-slide{
    width: 75rem;
}
.slick .slick-slide .wrap{
    /* width: 75rem; */
   
    padding-left: 3.125rem;
    box-sizing: border-box;
}

.slick .slick-slide .wrap .mockup_txt{
    margin-top: 3.8rem;
    float: left;
    width: 21.875rem;

}

.slick .slick-slide .wrap .mockup_txt img{
    /* border: 1px solid #000; */
    margin-left: -1.375rem;
}
.slick .slick-slide .wrap .mockup_txt .ml{
    margin-left: -1.75rem;
}
.slick .slick-slide .wrap .mockup_txt .m2{
    margin-left: -70px;
}
.slick .slick-slide .wrap .mockup_txt ul li{
    line-height: 32px;
}
.slick .slick-slide .wrap .mockup{
    margin-left: 6.25rem;
    float: left;
    /* height: 600rem; */

    position: relative;
}
.slick .slick-slide .wrap .click{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 37.5rem;
    height: 31.25rem;
    z-index: 99997;
}
.slick .slick-slide .wrap .mockup a,
.slick .slick-slide .wrap .m_mockup a{
    cursor: none;
}
.slick .slick-slide .wrap .mockup img{
   margin: 0 auto;
   width: 37.5rem;

}
.slick .slick-slide .wrap .m_mockup{
    margin-left: 3.4375rem;
    float: left;   
    height: 36.875rem;
}
.slick .slick-slide .wrap .m_mockup img{
    margin: 0 auto;
    width: 700px;

 }
 .slick .slick-slide .wrap .m_mockup .click{
    width: 40.625rem;
}
.slick-prev {
    left: -6.875rem;
    background: url(../images/prev.png) no-repeat;
    background-size: 3.75rem;
    transition: all 0.3s ease-in-out;
}
.slick-prev:hover{
    left: -6.875rem;
    background: url(../images/prev_c.png) no-repeat;
    background-size: 3.75rem;
}
.slick-next{
    right: -6.875rem;
    background: url(../images/next.png) no-repeat;
    background-size: 3.75rem;
    transition: all 0.3s ease-in-out;
}
.slick-next:hover{
    right: -6.875rem;
    background: url(../images/next_c.png) no-repeat;
    background-size: 3.75rem;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    border: none;
    text-indent: -99999px;
    width: 3.75rem;
    height: 3.75rem;
    z-index: 999;
    cursor: none;
    /* opacity: 0.5; */
}
#section4{
    width: 100%;
    position: relative;
    /* height: 100px; */
    /* height: 10vh; */
    /* display: flex; justify-content: flex-end; align-items: flex-end;  */
    /* min-height: 100vh; */
}
#section4 .go_top{
    position: absolute;
    right: 1.25rem;
    /* opacity: 0.7; */
    bottom: 1.25rem;
    transition: all 0.5s ease;
    width: 40px;
    height: 40px;
    background: url(../images/top.png) no-repeat;
    background-size: 40px;
    cursor: none;
}
#section4 .go_top:hover{

    background: url(../images/top_c.png) no-repeat;
    background-size: 40px;
}
 .footer {
    margin: 0 auto;
    position: relative; 
    width: 100%; 
   
    /* min-height: 100px;  */
    padding: 1.875rem; display: flex; 
    justify-content: center; flex-direction: column;
    box-sizing: border-box;

    margin-top: 100px;
}

 .footer .wave {position: absolute; left: 0; top: -50%; 
    width: 100%; height: 100px; background: url(../images/wave1.png); 
    background-size: 1000px 100px;
    animation: wave2 8s linear infinite;
    z-index: -1;
}
 .bg{
    position: absolute;
    left: 0;
    top: 0;
    background: #00CDCD; 
    width: 100%;
    height: 200px;
    z-index: -1;

}
 @keyframes wave2{
     0% {background-position-x: 1000px;}
     100% {background-position-x: 0px;}
 }
 .footer .footer_inner{

    width: 75rem;
    margin: 0 auto;
    z-index: 10000;
 }
 .footer .f_txt{
    width: 75rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
 }
 .footer .f_txt h2{
    font-size: 1.875rem;
    margin-bottom: 1rem;
    font-weight: 500;
    position: relative;
 }
 .footer .f_txt h2::before{
    content: '';
    position: absolute;
    left: -15px;top: 0;
    width: 0.625rem;
    height: 0.625rem;
    background: #ff1c3e;
    border-radius: 50%;
}
 .footer .f_txt h3{
    margin-bottom: 1.875rem;
 }
 .footer .f_txt p{
    line-height: 1.75rem;
    font-weight: 300;

 }
 .footer .f_txt p:first-child{
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 8px;
    font-size: 18px;
}
 .footer .f_txt p img{
    margin: 8px 0.625rem 0 0;
 }
 /* .footer .f_txt .mail{
    display: block;
    line-height: 28px;
    font-size: 1rem;
    font-weight: 500;
    color: red;
    cursor: none;
    letter-spacing: -20px;
 } */



.fp-watermark{
    display: none;
}

@media (min-width:1200px) and (max-width:1440px){

}
@media all and (max-width:1199px){

}
/* 태블릿 */
/* @media all and ( max-width : 1200px ){
    .header_inner{
        width: 100%; 
    }
    #section1 .pattern .circle6{
        display: none;
    }
    #section1 .pattern .circle2{
        left: 80%;
        top: 20%;
    }
    #section1 .pattern .circle8{
        top: -20%;
        left: -15%;
    }
    #section1 .pattern .circle10{
        left: 40%;
        top: 15%;    
    }
    #section2 .circle20{
        right: -25%;
        top: -35%;
        width: 40rem;
        height: 40rem;
    }
    #section2 .section2_inner{
        width: 100%;
        padding: 10rem 3rem;
        height: 100vh;
    }
    #section2 .section2_inner .about .me_img img{
        right: 2rem;
        width: 20rem;

    }
    
    #section3{
    width: 100%;
    height: 100vh;
    }
    #section3 .section3_inner{
    width: 100%;
    height: 100vh;
    padding: 10rem 3rem;
    box-sizing: border-box;

    }
    .slick .slick-slide{
        width: 75rem;

    }
    .slick .slick-slide .wrap .mockup{
        margin-left: 5rem;

    }

}
@media screen and ( max-width: 992px ){
    .header_inner{
        width: 100%;
    }
    #section1 .pattern .circle6{
        display: none;
    }
    #section1 .pattern .circle2{
        left: 80%;
        top: 20%;
    }
    #section1 .pattern .circle8{
        top: -20%;
        left: -15%;
    }
    #section1 .pattern .circle10{
        left: 40%;
        top: 15%;    
    }
    #section1 .po1{
        font-size: 8rem;
       }
    #section1 .po2{
        font-size: 8rem;
       }
    #section2{
    width: 100%;
    }
        
    #section2 .circle20{
        width: 30rem;
        height: 30rem;
        right: -15%;
        top: -25%;
    }
    #section2 .section2_inner{
        width: 100%;
        padding: 10rem 3rem;
        height: 100vh;
    }
    #section2 .section2_inner h2{
        font-size: 2rem;
        margin-bottom: 1.875rem;
        font-weight: 700;
        position: relative;
    }
    #section2 .section2_inner h2::before{
        width: 0.8rem;
        height: 0.8rem;
        left: -1rem;
    }
    #section2 .section2_inner p{
        font-size: 1.25rem;
        line-height: 2rem;
    }
    #section2 .section2_inner .about .me_img img{
        right: 2rem;
        width: 16rem;

    }
    #section2 .section2_inner .about .me_txt .me_txt1{
        margin-right: -0.625rem;
    }
   
    #section2 .section2_inner .about .me_txt .me_txt2{
        left: 0;
    }
    #section2 .section2_inner .about .me_txt .me_txt1 li{
        color:#00CDCD;
        font-size: 0.875rem;
    }
    #section2 .section2_inner .about .me_txt .me_txt2 li{
        font-size: 0.875rem;
    }
    #section2 .section2_inner .about .me_txt ul li{
        margin-bottom: 2rem;
    }
    #section2 .section2_inner .about .me_txt .me_txt2 li:nth-child(3){
        line-height: 26px;
        margin-top: -5px;
    }
    #section2 .section2_inner .about .me_txt .me_txt2 li:last-child{
        margin-top: -4px;
    
    }
} */
/* 모바일 */
/* @media screen and ( max-width: 768px ){
    header{
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
    }
    .header_inner{
        width: 100%;
    }
    .header_inner .gnb li{
        margin-left: 0.625rem;
    }
    .header_inner .gnb li a{
       font-size: 0.875rem;
    }
    #section1{
        width: 100%;
        height: 100vh;
    }
    #section1 .pattern .circle2{
        top: 30%;
    }
    #section1 .pattern .circle8{
        top: -30%;
        left: -45%;
    }
    #section1 .po1{
        font-size: 5rem;  
    }
    #section1 .po2{
        font-size: 5rem; 
    }
    #section2 .circle20{
        width: 16.25rem;
        height: 16.25rem;
        right: -10%;
        top: -10%;
    }
    #section2 .section2_inner{
        width: 100%;
        padding: 8rem 2rem;
    }
    #section2 .section2_inner h2{
        font-size: 1.625rem;
        margin-bottom: 1.875rem;
        font-weight: 700;
        position: relative;
    }
    #section2 .section2_inner h2::before{
        width: 0.8rem;
        height: 0.8rem;
        left: -1rem;
    }
    #section2 .section2_inner p{
        font-size: 1rem;
        line-height: 1.75rem;
    }
    #section2 .section2_inner .about .me_img img{
        right: 2rem;
        top: 2.5rem;
        width: 8rem;
        margin-top: 17rem;
    }
    #section2 .section2_inner .about .me_txt .me_txt1{
        margin-right: -0.625rem;
    }
   
    #section2 .section2_inner .about .me_txt .me_txt2{
        left: 0;
    }
    #section2 .section2_inner .about .me_txt .me_txt1 li{
        color:#00CDCD;
        font-size: 0.875rem;
    }
    #section2 .section2_inner .about .me_txt .me_txt2 li{
        font-size: 0.875rem;
        letter-spacing: -1px;
    }
    #section2 .section2_inner .about .me_txt ul li{
        margin-bottom: 2rem;
    }
    #section2 .section2_inner .about .me_txt .me_txt2 li:nth-child(3){
        line-height: 26px;
        margin-top: -5px;
    }
    #section2 .section2_inner .about .me_txt .me_txt2 li:last-child{
        margin-top: -4px;
    
    }
    .skill{

        padding-left: 3.125rem;
        overflow: hidden;
        height: 13.75rem;
    }
    #section2 .skill .sk{
        transform: translate(0,40rem);
    
    }
    #section2.active .skill .sk{
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;

    }
    #section2 .skill .sk:nth-child(4){
        transform: translate(0,25rem);

    
    }
    #section2.active .skill .sk:nth-child(3){
  
 
    }
} */

