@charset "utf-8";

body{
    font-family: '나눔고딕', 'Nanum Gothic', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #706e6f;
}
.fran{
    position: fixed;
    top: 103px;
    right: 0;
    z-index: 100;
}
header{
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: 103px;
    background: rgba(0,0,0,0.7);
    z-index: 100;

}
header .inner h1{
    position: absolute;
    top: 24px;
    left: 50%;
    margin-left: -50px;
    z-index: 10;
}
header .inner{
    width: 1000px;
    margin: 0 auto; 
    overflow: hidden;
}
header .inner .util{
    margin-top: 13px;
    float: right;
    display: flex;

}
header .inner .util li a{
    display: block;
    height: 23px;
    padding: 0 15px;
    font-size: 12px;
    color: #a2a1a2;
    outline: none;
    line-height: 23px;
    font-weight: bold;
    letter-spacing: -0.5px;
}
header .inner .util li:hover a{
    color: #fff;
}
header .inner .util li:first-child a{
    padding-left: 0;
}
header .inner .util li:last-child a{
    padding-right: 0;
}
header .inner .util li.aca a{

    width: 63px;
    padding: 0 15px;
    background: url(../images/util_aca_bg.png) 6px 0 no-repeat;
    margin-right: -12px;
    color: #2b2b2b;
}
header .inner .util li.app a {
    width: 114px;
    background: url(../images/util_app_bg.png) 0 0 no-repeat;
    color: #fff;
    padding-left: 10px;
}
header .bg{
    width: 100%;
    height: 270px;
    background: rgba(0,0,0,0.9);
    position: absolute;
    left: 0;top: 103px;
    display: none;
}
header .inner .gnb{
    display: flex;
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 1000px;
}
header .inner .gnb>li{
    background: url(../images/gnb_line.gif) 0 19px no-repeat;
}
header .inner .gnb>li:first-child,
header .inner .gnb>li:nth-child(5){
    background: none;
}
header .inner .gnb>li:nth-child(4){
    margin-right: 120px;
}
header .inner .gnb>li:nth-child(7){
    margin-right: 120px;
    padding-left: -25px;

}
header .inner .gnb>li>a{
    display: block;
    height: 50px;
    font-family: ng_b;
    font-size: 16px;
    line-height: 50px;
    color: #fff;
    outline: none;
    padding: 0 25px;
    white-space:nowrap;
}
header .inner .gnb>li:hover a{
    color:#8B4DB3
}
header .inner .gnb>li .depth2{
    display: none;
}
header .inner .gnb>li .depth2 li a{
    width: 100%;
    display: block;
    display: inline-block;
    padding: 1px 0 2px 0;
    font-size: 13px;
    line-height: 17px;
    color: #919191;
     margin-top: 10px;
}
header .inner .gnb>li .depth2 li:hover a{
    background-color: #a2dfde;
    color: #3f3f3f;
}
main{
    width: 100%;
    position: relative;
}
main .visual a{
    display: block;
    height: 620px;
}
main .visual .main1 a{
    background: url("../images/Z87vI0dUrPgimJD4_20221004.jpg") no-repeat center;    
}
main .visual .main2 a{
    background: url("../images/27EBuq0RmPtJrviTl_20210903.jpg") no-repeat center;

}
main .visual .main3 a{
    background: url("../images/39tJ0DxpSKVLzITqP_20180222.jpg") no-repeat center;
    background-size: cover;
}
main .visual .main4 a{
    background: url("../images/VCwDjtlryWp432ON_20171106.jpg") no-repeat center;
    background-size: cover;
}
main .visual .main5 a{
    background: url("../images/56OM7BRCGhliYwztX_20161212.jpg") no-repeat center;
  
}
main .visual .main6 a{
    background: url("../images/6sMkbYCLarlo0f7Ow_20160204.jpg") no-repeat center;
   
}
main .slick-arrow{
    width: 45px;
    height: 89px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    text-indent: -99999px;
    border: none;
    cursor: pointer;
}
main .slick-prev{
    background: url("../images/main_visual_prev.png") no-repeat;
    left: 50%;
    margin-left: -560px;
}
main .slick-next{
    background: url("../images/main_visual_next.png") no-repeat;
    right: 50%;
    margin-right: -560px;
}
main .slick-dots{
    position: absolute;
    left: 50%; bottom: 52px;
    transform: translateX(-50%);
}
main .slick-dots li{
    float: left;
    margin-right: 5px;
}
main .slick-dots li:last-child{
    margin-right: 0;
}
main .slick-dots li button{
    width: 18px;
    height: 18px;
    background: url("../images/main_visual_pager_off.png") no-repeat;
    text-indent: -99999px;
    border: none;
    cursor: pointer;
}
main .slick-dots .slick-active button{
    width: 18px;
    height: 18px;
    background: url("../images/main_visual_pager_on.png") no-repeat;
}
main .intro{
    width: 100%;
    height: 516px;
    padding: 50px 0;
    box-sizing: border-box;
}
main .intro_inner{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}
main .intro_inner .intro_side h2 {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 34px;
    color: #3f3f3f;

}
main .intro_inner .intro_side p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
    color: #4c4a4b;
}
main .menu{
    width: 100%;
    padding: 50px 0 85px;
    box-sizing: border-box;
    background-color: #f6f1e8;
}
main .menu_inner{
    width: 1000px;
    margin: 0 auto;

}
main .menu_inner h2 {
    width: 1000px;
    margin: 0 auto 50px;
    background: url(../images/main_menu_title_line.png) 0 center no-repeat;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #4c4a4b;
    font-weight: 500;
}
main .menu_inner h2 span{
    font-weight: 200;
}
main .menu_inner .menu_img{
    display: flex;
}
main .menu_inner .box_left{
    width: 100%;
    height: 494px;
    background: url(../images/main_menu_best_bg.png) 0 0 no-repeat;
    
}
main .menu_inner .box_right{
    width: 420px;
}
main .menu_inner .box_right ul{
    width: 430px;
    height: 494px;
}
main .menu_inner .box_right a:hover{
    border-color: #ffb414;
}
main .menu_inner .box_right ul li{
    width: 205px;
    margin: 0 10px 10px 0;
    float: left;
}
main .menu_inner .box_right ul  li a {
    display: block;
    height: 232px;
    border: 5px solid #fff;
    background-color: #fff;
    text-align: center;
    position: relative;
}
main .menu_inner .box_right ul li a .new{
    position: absolute;
    top: 9px;
    right: 10px;
}
main .menu_inner .box_right ul li a .img{
    width: 179px;
    height: 179px;
}
main .menu_inner .box_right ul li a .kor{
    display: block;
    font-size: 15px;
    line-height: 21px;
    color: #4c4a4b;
}
main .menu_inner .box_right ul li a .eng {
    display: block;
    font-size: 14px;
    line-height: 19px;
    color: #777777;
}
main .banner{
    width: 100%;
    height: 216px;
    background-color: #423333;
}
main .banner .banner_inner{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
main .banner .banner_inner .txt{

}
main .banner .banner_inner .txt h2{
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
   margin-top: 46px;
   width: 500px;
}
main .banner .banner_inner .txt h2 strong{
    font-weight: 600;
}
main .banner .banner_inner .txt p{
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 22px;
    color: #949494;
}
main .banner .banner_inner .txt a p{
    background-color: #1d1a1a;
    display: inline-block;
    height: 23px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 21px;
}
main .banner .banner_inner .txt a p span{
 font-size: 14px;
 line-height: 18px;
}
main .banner .banner_inner .img{
    position: absolute;
    right: 0;
    bottom: -20px;
}
main .article{
    padding: 80px 0;
    background-color: #fff;
}
main .article .article_inner{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
main .article .article_inner .abox{
    width: 271px;
    height: 204px;
    float: left;
    position: relative;
    background-color: #6c5648;
    cursor: pointer;
    z-index: 99999;
    padding: 36px 0 0 30px;
    box-sizing: border-box;
    position: relative;
}
main .article .article_inner .abox img{
    position: absolute;
    right: 27px;
    top: 30px;
}
main .article .article_inner .abox h2{
    font-size: 26px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 20px;
}
main .article .article_inner .abox p{
    font-size: 14px;
    line-height: 20px;
    color: #c6c6c6;
    letter-spacing: -1px;
}
main .article .article_inner .section_center .box_bottom{
    background-color: #f7f7f7;
    
}
main .article .article_inner .section_center .box_bottom h2,
main .article .article_inner .section_center .box_bottom p{
    color: #4c4a4b;
}

main .article .article_inner .section_right{
    position: relative;
}
main .article .article_inner .section_right .box_right{
    position: absolute;
    right: 0;bottom: 0;
    background-color:#424242;
}
main .article .article_inner .section_right .box_right p{
    color: #fff;
}
main .sns{
    padding: 60px 0 50px;
    background-color: #f1f1f1;
}
main .sns .sns_inner{
    width: 1000px;
    margin: 0 auto;
}
main .sns .sns_inner .tab{
    width: 100%;
    height: 52px;
    margin-bottom: 30px;
    overflow: hidden;
    background: url(../images/main_sns_tab.gif) 0 0 no-repeat;
}
main .sns .sns_inner .tab li.on{
    width: 240px;
}
main .sns .sns_inner .tab li{
    width: 238px;
    float: left;
}
main .sns .sns_inner .tab li.on a{
    background: url(../images/main_sns_tab_on.gif) 0 0 no-repeat;
}
main .sns .sns_inner .tab li a{
    display: block;
    height: 52px;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    color: #666;
    font-weight: 400;
}
footer{
    width: 100%;
    border-top: 1px solid #535353;
    background-color: #444;
    margin-top: 20px;
}
footer .footer_inner{
    padding-top: 28px;
    width: 1000px;
    height: 117px;
    margin: 0 auto;
    position: relative;
    display: flex;
    box-sizing: border-box;
}
footer .footer_inner .ft_logo{
    margin-right: 27px;
}
footer .footer_inner .ft_center{
    margin-right: 86px;
}
footer .footer_inner .ft_menu{
    display: flex;
   margin-bottom: 10px;
}
footer .footer_inner .ft_menu li{
    margin-left: 24px;
}
footer .footer_inner .ft_menu li:first-child{
    margin-left: 0;
}
footer .footer_inner .ft_menu li:nth-child(5){
    width: 112px;
    background: url(../images/ft_menu2_1.png) 0 0 no-repeat;
    margin-left: 16px;
}
footer .footer_inner .ft_menu li:nth-child(6){
    width: 108px;
    background: url(../images/ft_menu2_2.png) 0 0 no-repeat;
    margin-left: 10px;
}
footer .footer_inner .ft_menu li:nth-child(7){
    width: 82px;
    background: url(../images/ft_menu2_3.png) 0 0 no-repeat;
    margin-left: 10px;
}
footer .footer_inner .ft_menu li a{
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    letter-spacing: -1px;
}
footer .footer_inner .ft_menu li:nth-child(5) a,
footer .footer_inner .ft_menu li:nth-child(6) a,
footer .footer_inner .ft_menu li:nth-child(7) a{
    display: block;
    height: 23px;
    font-size: 13px;
    line-height: 23px;
    color: #adadad;
    text-align: center;
    font-weight: bold;
}
footer address,
footer p{
 
    font-size: 12px;
    line-height: 18px;
    color: #adadad;
}
footer address{
    letter-spacing: -0.2px;
}
footer .ft_sns{
    display: flex;
}
footer .ft_sns li:first-child{
    margin-right: 10px;
}
footer .sp{
    position: absolute;
    right: 0;
    top: 68px;
}
