body{font-family: "Noto Sans KR","돋움",'dotum',sans-serif;}

#header{width: 100%;height: 148px;
position: fixed;
top: 0;left: 0;background: #fff;z-index: 100;}
#header .topheader{
    width: 100%;
    height: 58px;
    margin: 0 auto;
    border-bottom: 1px solid #eaeaea;
}
#header .topheader .topheader_inner{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.topheader .topheader_inner .link{
    overflow: hidden;
    float: left;
    /* margin-top: 14px; */

}
.topheader .topheader_inner .link .lang{
    position: absolute;
    left: 0;
    top: 14px;
    z-index: 100;
    float: left;
    width: 86px;
    height: 20px;
    padding-top: 7px;
    overflow: hidden;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: all 0.3s ease;
    /* box-sizing: border-box; */

}
.topheader .topheader_inner .link .lang.on{
    height: 36px;
    transition: all 0.3s ease;
}
.topheader .topheader_inner .link .lang .this_lang{
    line-height: 15px;
    background: url("../images/lang_kor.gif") no-repeat 10px center;
}
.topheader .topheader_inner .link .lang.on .this_lang a{
    background: url("../images/lang_arr2.gif") no-repeat right center;
}
.topheader .topheader_inner .link .lang .this_lang a{
    display: block;
    width: 38px;
    padding-left: 29px;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #453a4a;
    /* border: 1px solid red; */
    background: url("../images/lang_arr.gif") no-repeat right center;
    /* box-sizing: border-box; */
}

.topheader .topheader_inner .link .lang ul{
    width: 86px;
    margin-top: 5px;
}
.topheader .topheader_inner .link .lang ul li a{
    display: block;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #453a4a;
    margin-left: -2px;
    text-align: center;
    background: url("../images/lang_eng.gif") no-repeat 12px center;
    /* display: none; */
}
.topheader .topheader_inner .link .sns{
    margin-left: 100px;
    float: left;
}
.topheader .topheader_inner .link .sns ul li{
    float: left;
    margin-right: 7px;
}
.topheader .topheader_inner .topmenu{
    /* float: right; */
    /* border: 1px solid #000; */
    /* padding: 5px; */
}
.topheader .topheader_inner .topmenu ul{
    /* display: flex; */
    overflow: hidden;
}
.topheader .topheader_inner .topmenu ul li{
    float: left;
    margin-left: 10px;
    padding-left: 12px;
    background: url("../images/tm_bar.gif") no-repeat left center;
}
.topheader .topheader_inner .topmenu ul li:first-child{
    background: none;
}
.topheader .topheader_inner .topmenu ul li a{
    display: block;
    padding-top: 3px;
    font-size: 11px;
    color: #9b9a9a;
    font-family: 'Montserrat', sans-serif;
}

/* .topheader .topheader_inner .link .lang .this_lang .arr{

    border: 1px solid #000;

}
.topheader .topheader_inner .link .lang .this_lang .arr img{
    width: 7px;
    height: 5px;
} */

#header .header_inner{
    width: 1400px;
    height: 89px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* border: 1px solid #000; */
}

#header .header_inner .gnb{
    display: flex;
    margin-left: 108px;
    /* margin-right: 141px; */
    width: 1100px;
    /* border: 1px solid #000; */
}
#header .header_inner .gnb>li{
    /* display: inline-block; */
    margin: 0 33px;
    /* border: 1px solid #000; */
    position: relative;
}
#header .header_inner .gnb>li:hover a{
    color: #c6163a;
}
#header .header_inner .gnb>li:first-child{
    margin: 0 33px 0 0;
    width: 84px;
    text-align: center;
}
#header .header_inner .gnb>li>a{
    display: block;
    color: #372f2d;
    font-size: 16.5px;
    /* letter-spacing: -1px; */
    height: 89px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 89px;
    /* border: 1px solid red; */
}
#header .header_inner .gnb .depth2{
    position: absolute;
    left: 50%;
    top: 89px;
    transform: translateX(-50%);
    width: 230px;
    /* border: 1px solid red; */
    padding: 12px 0;
    background: rgba(255,255,255,0.9);
    box-sizing: border-box;
    text-align: center;
    display: none;
}
#header .header_inner .gnb .depth2 li{
    box-sizing: border-box;

}
#header .header_inner .gnb .depth2 li a{
    display: block;
    line-height: 50px;
    height: 50px;
    color: #6e6e6e;
    width: 180px;
    font-size: 14px;
    border-bottom: 1px solid #e1e1e1;
    margin: 0 25px;
}
#header .header_inner .gnb .depth2 li:hover a{
    color: #c6163a;
}
#header .header_inner .gnb .depth2 li:last-child a{
    border-bottom: none;
}
#header .header_inner .util{
    display: flex;
    /* overflow: hidden; */
    /* border: 1px solid #000; */
}
#header .header_inner .util .menu{
    width: 20px;
    height: 16px;
    margin-left: 28px;
}
#header .header_inner .util .menu div{
    width: 20px;
    height: 2px;
    background: #303030;
    margin-bottom: 5px;
    border-radius: 1px;
    transition: all 0.4s;
}
#header .header_inner .util .menu.open div:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}
#header .header_inner .util .menu.open div:nth-child(2){
    opacity: 0;
}
#header .header_inner .util .menu.open div:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}
#header .header_inner .allmenu{
    width: 1400px;
    overflow: hidden;
    position: absolute;
    left:50%;
    top: 100%;
    transform: translateX(-50%);
    z-index: 101;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%), 0 1px 0 #ddd inset;
    /* border: 1px solid #000; */
    /* display: flex;
    justify-content: space-between; */
    display: none;
}
#header .header_inner .allmenu .menubox{
    width: 233.333px;
    height: 460px;
    padding: 55px 28px 0 28px;
    box-sizing: border-box;
    box-shadow: -1px 0px 0px #e5e4e4 inset;
    float: left;
}
#header .header_inner .allmenu .menubox h2{
    height: 50px;
    margin-bottom: 20px;
    font-size: 21px;
    color: #303030;
    font-weight: 500;
}
#header .header_inner .allmenu .menubox h2:after {
    display: block;
    content: "";
    width: 19px;
    height: 2px;
    margin: 24px 0;
    background: #c40f39;
}
#header .header_inner .allmenu .menubox ul li{
    margin-bottom: 23px;
}
#header .header_inner .allmenu .menubox ul li a {
    display: block;
    font-size: 17px;
    color: #6e6e6e;
    font-weight: 400;
}
/* 메인영역 */
#main{
    width: 100%;
    margin-top: 148px;
}
#main .popup_button{
    position: fixed;
    right: 15px;
    top: 180px;
    z-index: 200;
    width: 216px;
    height: 216px;
    border-radius: 100%;
    overflow: hidden;

    text-align: center;
    z-index: 10000;
}
#main .popup_button a{
    display: inline-block;
    position: relative;
    width: 219px;
    height: 219px;
    padding-top: 115px;
    background: url(../images/l-popup__button.png) no-repeat;
    background-position: center top;
    text-align: center;
    margin-left: -1px;
    margin-top: -1px;
    box-sizing: border-box;

}
#main .popup_button .popup_res{    
    /* border: 1px solid red; */
    display: inline-block;
    position: relative;
    width: 153px;
    min-height: 43px;
    padding: 14px 39px 0 0;
    border-radius: 43px;
    /* -webkit-border-radius: 43px; */
    background: #fff url("../images/l-popup__icon.png") no-repeat 112px 3px;
    color: #222;
    font-size: 15px;
    box-sizing: border-box;
}
#main .popup_button .popup_close{
    width: 24px;
    height: 20px;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
}
#main .popup_button .popup_close .popclose{
    width: 24px;
    height: 20px;
    background: url("../images/l-popup__button--close.png") no-repeat center;
    text-indent: -99999px;
    cursor: pointer;
}
#main .visual{
    width: 100%;
    position: relative;
    height: 652px; 
    margin: 0 auto;
    background: url(../images/visual1.jpg) no-repeat center;

}
#main .visual .txt{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1400px;
    height: 100%;
    margin-left: -580px;
    margin-top: -169px;
    z-index: 10;
    
}
#main .visual .txt h2{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
    line-height: 60px;
    margin-bottom: 31px;

}
#main .visual .txt p{
    font-size: 15px;
    color: rgba(255,255,255,0.8);
    line-height: 20px;
    font-weight: 300;
}
#main .visual .txt h2:before{
    display: block;
    content: "";
    width: 80px;
    height: 1px;
    background: #fff;
    margin-bottom: 10px;
    /* margin: 157px 0 10px 0; */
}
#main .content1{
    padding-top: 88px;
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
}
#main .content1 .new_wrap{
    width: 1200px;
    height: 820px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    overflow: hidden;
}
#main .content1 .new_wrap .new_top{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
#main .content1 .new_wrap .new_top .top_left h2{
    line-height: 38px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #000;
}
#main .content1 .new_wrap .new_top .top_left h2:after{
    content: "";
    display: block;
    width: 26px;
    height: 4px;
    margin: 10px 0 0;
    background: #c40f39;
}
#main .content1 .new_wrap .new_top .top_left p{
    font-size: 13px;
    color: #6e6e6e;
    margin-top: 13px;
}
#main .content1 .new_wrap .new_top .top_left .newbox1{
    width: 392px;
    height: 205px;
    background: red;
    margin-top: 40px;
    position: relative;
} 
#main .content1 .new_wrap .ondiv{
    width: 362px;
    height: 175px;
    display: table;
    position: absolute;
    left: 15px;
    top: 15px;
    background: #c40f39;
    text-align: center;
    transition: all 0.6s;
    opacity: 0;
}
#main .content1 .new_wrap .newbox1:hover .ondiv,
#main .content1 .new_wrap .newbox2:hover .ondiv,
#main .content1 .new_wrap .newbox3:hover .ondiv,
#main .content1 .new_wrap .newbox4:hover .ondiv,
#main .content1 .new_wrap .newbox5:hover .ondiv{
    opacity: 1;
}
#main .content1 .new_wrap .new_top .top_left .newbox1 .ondiv .text{
    /* display: table-cell; */
    /* vertical-align: middle; */
    /* border: 1px solid #000; */
    padding: 16px;
}
#main .content1 .new_wrap .ondiv .text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    color: #eec7d0;
    margin-bottom: 5px;
}
#main .content1 .new_wrap .ondiv .text h3{
    font-size: 21px;
    color: #fff;

}
#main .content1 .new_wrap .ondiv .plus{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 45px auto 0;
    transition: all 0.4s 0.2s;
}

#main .content1 .new_wrap .newbox1:hover .ondiv .plus,
#main .content1 .new_wrap .newbox2:hover .ondiv .plus,
#main .content1 .new_wrap .newbox3:hover .ondiv .plus,
#main .content1 .new_wrap .newbox4:hover .ondiv .plus,
#main .content1 .new_wrap .newbox5:hover .ondiv .plus{
    transform: rotateZ(180deg);
}
#main .content1 .new_wrap .ondiv .plus div:nth-child(1) {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.6);
}
#main .content1 .new_wrap .ondiv .plus div:nth-child(2) {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background: rgba(255,255,255,0.6);
}
#main .content1 .new_wrap .new_top .top_right{
    width: 786px;
    height: 360px;
    position: relative;
    margin-top: 1px;
} 
#main .content1 .new_wrap .new_top .top_right .newbox2 .ondiv{
    width: 756px;
    height: 330px;
}
#main .content1 .new_wrap .new_top .top_right .newbox2 .ondiv .text{
    margin-top: 108px;
}
#main .content1 .new_wrap .new_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#main .content1 .new_wrap .new_bottom .newbox3{
    position: relative;

}
#main .content1 .new_wrap .new_bottom .newbox3 .ondiv{
    width: 362px;
    height: 262px;

}
#main .content1 .new_wrap .new_bottom .newbox3 .ondiv .text,
#main .content1 .new_wrap .new_bottom .newbox5 .ondiv .text{
    margin-top: 74px;
}
#main .content1 .new_wrap .new_bottom .newbox4{
    position: relative;

}
#main .content1 .new_wrap .new_bottom .newbox4 .ondiv{
    width: 420px;
    height: 409px;

}
#main .content1 .new_wrap .new_bottom .newbox4 .ondiv .text{
    margin-top: 148px;
}
#main .content1 .new_wrap .new_bottom .newbox5{
    position: relative;

}
#main .content1 .new_wrap .new_bottom .newbox5 .ondiv{
    width: 284px;
    height: 262px;

}
#main .content2{
    width: 100%;
    height: 940px;
    background: #eee;
}
#main .content2 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #000;
    text-align: center;
    padding-top: 75px;
    box-sizing: border-box;
}
#main .content2 h2::after{
    content: "";
    display: block;
    width: 26px;
    height: 4px;
    margin: 13px auto 15px;
    background: #c40f39;
}
#main .content2 p{
    color: #555;
    font-family: "Noto Sans KR","돋움",dotum,sans-serif;
    font-size: 13.5px;
    font-weight: normal;
    text-align: center;
}
#main .content2 .tab{
    width: 638px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}
#main .content2 .tab .tab_menu{
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-top: 43px;

}
#main .content2 .tab .tab_menu li{
    margin-right: 3px;
    border: 2px solid #bcbcbc;
}
#main .content2 .tab .tab_menu li.on{
    border: 2px solid #c40f39;
    color: #c40f39;
}
#main .content2 .tab .tab_menu li a{
    display: block;
    font-size: 14px;
    color: #898989;
    line-height: 32px;
    width: 153px;
}
#main .content2 .tab .tab_menu li.on a{
    color: #c40f39;
}
#main .content2 .tab_list{
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    /* border: 1px solid #000; */
}
#main .content2 .tab_list li{
    /* border: 1px solid red; */
    /* width: 266px;  ???????????????????? */
}
#main .content2 .tab_list li a{
    display: block;
    margin-right: 18px;
    background: #fff;
    width: 266px;
    height: 492px;
}
#main .content2 .tab_list li .info{

    width: 266px;
}
#main .content2 .tab_list li h4{
    margin: 33px 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #b3b3b3;
    margin-left: 30px;
    margin-bottom: 8px;
}

#main .content2 .tab_list li h3{
    font-family: 'Montserrat';
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin-left: 30px;
    line-height: 20px;
}
#main .content2 .p_info{
    width: 100%;
    margin-top: 60px;
    border-top: 1px dotted #ccc;
    position: relative;
}
#main .content2 .p_info .wrap .arr1{
    position: absolute;
    left: 525px;
    top: -6px;
}
#main .content2 .p_info .wrap .arr2{
    position: absolute;
    right: 525px;
    top: -6px;
}
#main .content2 .p_info .wrap .ds{
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid #000; */
    width: 100px;
    background: #eee;
    margin-top: -20px;
}
#main .content2 .p_info .wrap .ds p{
    /* border: 1px solid red; */
    font-size: 12px;
    margin-top: 30px;
}
#main .content3{
    width: 100%;
    height: 1080px;
    overflow: hidden;
}
#main .content4{
    width: 100%;
    height: 355px;
    overflow: hidden;
    /* margin-bottom: 50px; */
    background: #f8f8f8;
    border-top: 1px solid #000;
    border-bottom: 1px solid #ddd;
}
#main .content4 .content_wrap{
    width:1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background: #f8f8f8;
    overflow: hidden;

}
#main .content4 .topwrap{
    width: 700px;
    height: 240px;
    margin: 0 auto;
    /* border: 1px solid red; */
    overflow: hidden;
    padding-top: 50px;
    box-sizing: border-box;
    overflow: hidden;
}
/* #main .content4 .con1 .topwrap{
    width: 700px;
} */
#main .content4 .con1 .topwrap h2{
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
#main .content4 .con1 .topwrap h2::after{
    content: "";
    background: #c40f39;
    width: 26px;
    height: 4px;
    position: absolute;
    left: 0;bottom: 2px;

}
#main .content4 .con1 .topwrap .news{
    display: flex;
    height: 252px;
    width: 650px;
    margin-top: 22px;
    /* border: 1px solid #000; */
}
#main .content4 .con1 .topwrap .news_txt{
    /* border: 1px solid #000; */
    width: 650px;
    height: 33px;
    position: relative;
}
#main .content4 .con1 .topwrap .news_txt a{
    display: block;
    float: right;
    font-size: 11px;
    color: #3d3e38;
    letter-spacing: 1px;
    line-height: 15px;
    border-bottom: 1px solid #3d3e38;
    font-family: "Noto Sans KR","돋움",'dotum',sans-serif;
}
#main .content4 .con1 .topwrap .news_txt span{
    float: right;
}
#main .content4 .con1 .topwrap .news .txt{
    padding: 7px 0 0 30px;
    width: 486px;
}

#main .content4 .con1 .topwrap .news a h3{
    font-size: 21px;
    color: #000;
    margin-bottom: 5px;
    /* font-weight: bold; */
    /* letter-spacing: -1px; */
}
#main .content4 .con1 .topwrap .news a p{
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    /* word-break: keep-all; */
    /* letter-spacing: -0.5px; */
    line-height: 24px;
}
#main .content4 .con1 .topwrap .news a span{
    float: right;
    /* position: static; */
    color: #888;
    font-size: 13px;
    margin-right: 1px;
}
#main .content4 .con1 .bottomwrap{
    border-top: 1px solid #bbb;
    width: 650px;
    padding-top: 20px;
    box-sizing: border-box;

}
#main .content4 .con1 .bottomwrap li a{
    display: inline-block;
    color: #555;
    font-size: 13px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}
#main .content4 .con1 .bottomwrap span{
    float: right;
    font-size: 13px;
    color: #888;
}
#main .content4 .con2{
    width: 350px;
    height: 100%;
    border: 1px solid #ddd;
}
#main .content4 .con3{
    width: 350px;
    height: 100%;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}
#main .content4 .con2{
    background: url('../images/inquiry_bg.jpg') no-repeat;
}
#main .content4 .con2 .inquiry{
    width: 100%;
    height: 100%;
    background: url('../images/inquiry_tit_bg.png') no-repeat center top;
    text-align: center;
    /* border: 1px solid #000; */
    margin-top: 67px;
    box-sizing: border-box;
}
#main .content4 .con2 .inquiry .txt{
    padding-top: 75px;
    box-sizing: border-box;

}
#main .content4 .con2 .inquiry h2{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
#main .content4 .con2 .inquiry h2::after{
    content: "";
    background: #c40f39;
    width: 26px;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);

}
#main .content4 .con2 .inquiry p{
    margin-top: 25px;
    color: #6a6a6a;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.5px;
}
#main .content4 .con2 .inquiry button{
    border: 2px solid #c40f39;
    color: #c40f39;
    background: none;
    font-family: 'Montserrat', sans-serif;
    width: 168px;
    height: 40px;
    cursor: pointer;
    margin-top: 45px;
    font-weight: 500;
    transition: all 0.5s ease;
}
#main .content4 .con2 .inquiry button:hover{
    color: #fff;
    background: #c40f39;

}
#main .content4 .con3 img{
    height: 360px;
    margin-top: 1px;
}
#main .content5{
    width: 1400px;
    height: 168px;
    overflow: hidden;
    margin: 0 auto;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    overflow: hidden;
}
#main .content5 ul{
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
    box-sizing: border-box;
    overflow: hidden;
}

#main .content5 ul li{
    box-sizing: border-box;

}
#main .content5 ul li a{
    display: block;
    border: 1px solid #ddd;
    padding: 1px;
    transition: all 0.3s ease-in-out;

}
#main .content5 ul li:hover a{
    border: 1px solid #c40f39;
    box-shadow: 1px 1px 0 #c40f39 inset, -1px -1px 0 #c40f39 inset;
    box-sizing: border-box;
}
#footer{
    width: 100%;
    height: 276px;
    background: #111;
    padding: 60px 0 65px;
    box-sizing: border-box;
    /* overflow: hidden; */
}
#footer .footer_top{
    width: 1400px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 25px;
    box-sizing: border-box;
    /* display: flex; */
}
#footer .footer_top .company{
    float: right;
}
#footer .footer_top .company li{
    float: left;
    position: relative;
    background: url(../images/fm_bar.gif) no-repeat 10px -0.5px;
}
#footer .footer_top .company li:first-child{
    background: none;
}
#footer .footer_top .company li a{
    color: rgba(255,255,255,0.5);
    font-size: 13.5px;
    font-weight: 400;
    margin-left: 20px;
}
#footer .footer_bottom{
    width: 1400px;
    margin: 0 auto;
    padding: 25px 0 65px 0;
    box-sizing: border-box;
    /* display: flex; */
} 
#footer .footer_bottom h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
#footer .footer_bottom .info{
    float: left;
}
#footer .footer_bottom .info address{
    font-size: 14px;
    color: rgba(255,255,255,0.3);
    font-weight: 300;
}
#footer .footer_bottom .info address span{
    padding: 0 10px;
    /* box-sizing: border-box; */
}
#footer .footer_bottom .info p{
    font-size: 12px;
    color: rgba(255,255,255,0.3);
    font-weight: 300;
    margin-top: 8px;
}
#footer .footer_bottom .customer{
    margin-left: 55px;
    float: left;
}
#footer .footer_bottom .customer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: rgba(255,255,255,0.5);
}
#footer .footer_bottom .family{
    float: right;
    /* border: 1px solid red; */
    position: relative;
}
#footer .footer_bottom .family .btn_fam{
    width: 242px;
    height: 34px;
    border: 1px solid rgba(255,255,255,0.3);

}

#footer .footer_bottom .family .btn_fam a{
    display: block;
    text-align: left;
    text-indent: 13px;
    line-height: 34px;
    font-size: 13px;
    color: rgba(255,255,255,0.4);
    background: url("../images/family_arr.png") no-repeat 95% center;
}
#footer .footer_bottom .family .fam_list{
    width: 242px;
    position: absolute;
    left: 0;
    bottom: 35px;
    border: 1px solid rgba(255,255,255,0.3);
    background: #000;
    border-bottom: none;
    display: none;
}
#footer .footer_bottom .family .fam_list li a{
    display: block;
    padding: 0 13px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    color: rgba(255,255,255,0.6);
    /* line-height: 34px; */
}