@charset "utf-8";
body {
    font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;
    color: #555;
    font-size: 16px;
    letter-spacing: -0.6px;
    overflow-x:hidden;
    /* -webkit-text-size-adjust: 100%; */
    /* background: rgb(0, 0, 0); */
}
#header{
    width: 100%;
    height: 75px;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    position: absolute;
    left: 0;top: 0;
    z-index: 10;
}
#header.on{
    background: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#header .gnb_bg{
    position: absolute;
    left: 0;
    top: 76px;
    height: 325px;
    width: 100%;
    background: #fff;
    display: none;
    border-top: 1px solid #ddd;
}
#header h1{
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}
#header h1 a{
    display: block;
    text-indent: -99999px;
    background: url(../images/logo.png) no-repeat;
    width: 143px;
    height: 33px;
}
#header.on h1 a{
    background: url(../images/logo_on.png) no-repeat;
}
#header .gnb{
    position: absolute;
    /* left: 50%; */
    left: 470px;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;

 }
#header .gnb>li{
    float: left;
    position: relative;
    padding-right: 96px;
    box-sizing: border-box;
    /* height: 95px; */
}
#header .gnb>li:last-child{
    padding: 0;
}
#header .gnb>li:hover>a{
    color: #033e87;
    font-weight: bold;
    border-bottom: 3px solid #033e87;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
#header .gnb>li>a{
    display: block;
    font-size: 18px;
    color: #fff;
    line-height: 75px;
    letter-spacing: -1px;
    box-sizing: border-box;
    font-weight: bold;
}
#header.on .gnb>li>a{
    color: #555;
}
#header.on .gnb>li:hover>a{
    color: #033e87;
}
#header .gnb>li:last-child>a{
    padding-right: 0;
}
/* 2단메뉴 */
#header .gnb>li .depth2{
    position: absolute;
    left: 0;
    top: 76px;
    padding: 30px 0;
    box-sizing: border-box;
    display: none;
    width: 100%;
}
#header .gnb>li .depth2 li{
    margin-bottom: 15px;
}
#header .gnb>li .depth2 li a{
    display: block;
    font-size: 15px;
    color: #555;
    line-height: 1;
    letter-spacing: -1px;
    word-spacing: nowrap;

}
#header .gnb>li .depth2 li:hover a{
    color: #033e87;
    font-weight: bold;
}
#header .right{
    display: table;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 380px;
    /* height: 36px; */
    line-height: 36px; 
}
#header .right .util{
    float: left;
    margin-right: 30px;
    /* line-height: 30px; */
}
#header .right .util li{
    float: left;
    padding-right: 14px;
    position: relative;
    /* border: 1px solid #fff; */
}
#header .right .util li::before{
    content: '';
    width: 1px;
    height: 13px;
    background: rgba(255,255,255,0.2);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#header.on .right .util li::before{
    background: rgba(0,0,0,0.2);
}
#header .right .util li:first-child:before{
    display: none;
}

#header .right .util li:last-child{
    padding-right: 0;
}
#header .right .util li a{
    display: block;
    padding-left: 14px;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
}
#header.on .right .util a{
    color: #555;
}
#header .right .util li:first-child a{
    padding-left: 0;
}
#header .right .btn_search{
    float: left;
    width: 24px;
    height: 24px;
    background: url('../images/header_srch.png') no-repeat right center;
    text-indent: -99999px;
    padding-left: 20px;
    position: relative;
    /* border: 1px solid blue; */
    margin-top: 6px;
}
#header.on .right .btn_search{
    background: url('../images/header_srch_on.png') no-repeat right center;
}
#header .right .btn_search::before{
    content: '';
    width: 1px;
    height: 24px;
    background: rgba(255,255,255,0.2);
    position: absolute;
    top:0;
    left: 0;
}
#header.on .right .btn_search::before{
    background: rgba(0,0,0,0.2);
}
#header .right .lang{
    float: left;
    /* padding-left: 20px; */
    margin-left: 20px;
    position: relative;
    /* border: 1px solid red; */
}

#header .right .lang::before{
    content: '';
    width: 1px;
    height: 24px;
    background: rgba(255,255,255,0.2);
    position: absolute;
    top: 6px;
    left: 0;
}
#header.on .right .lang::before{
    background: rgba(0,0,0,0.2);  
}
#header .right .lang>.kor{
    display: block;
    width: 65px;
    /* padding-right: 18px; */
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: url("../images/header_sel_icon.png") no-repeat right top 50%;
    /* margin-top: -6px; */
    margin-right: -18px;

}
#header.on .right .lang>.kor{
    color: #555;
    background: url("../images/header_sel_icon_on.png") no-repeat right top 50%;
}
#header .right .lang .lang_list{
    position: absolute;
    left: 0;
    top: 0;
    width: 84px;
    background: #fff;
    /* padding: 16px; */
    box-sizing: border-box;
    display: none;
    width: 83px;
    height: 110px;
    overflow: hidden;
}
#header .right .lang .lang_list .kor{
    /* margin-left: -10px; */
    height: 40px;
    /* line-height: 40px; */
    text-align: left;
    text-indent: 21px;
    margin-bottom: 10px;
    align-items: center;
    padding-top: 8px;
    box-sizing: border-box;
}
#header .right .lang .lang_list>a{
    display: block;
     /* padding-right: 18px; */
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #000;
    text-align: center;
    width: 83px;

}

#main{
    width: 100%;
    
}
#main .main_visual{
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

#main .main_visual .video_slider{
    height: 100vh;
}
#main .main_visual .video_slider .main_video{
    min-height: 100vh;
    min-width: 100%;  
}
#main .main_visual img{
    position: absolute;
    top: 230px;left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#main .main_visual .m_maintit,
#main .main_visual .m_maintit2{
    display: none;
}

#main .main_visual .btn_scroll{
    z-index: 900;
    position: absolute;
    bottom: 320px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#main .main_visual .video_slider{
    width: 100%;
    height: 100vh;
}
#main .main_visual .video_slider .main_video{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
#main .main_visual .swiper .swiper-pagination{
    display: none;
}

#main .section1{
    width: 100%;
    height: 720px;
    padding: 165px 0;
    background: url("../images/mainCon_bg1.jpg") no-repeat center top;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
#main .section1>.bg{
    position:absolute; 
    top:0; left:0; 
    width:100%; 
    height:100%; 
    background:#fff
}
#main .section1>.mask{
    position:absolute; 
    top:0; left:-100%; 
    width:100%; 
    height:100%; 
    background:#598e97;
    /* transition: all 1s ease; */
}
/* #main .section1::before{
    content: '';
    width: 100%;
    height: 100%;
    background: #598e97;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: all 1s ease;
    z-index: 100;
}
#main .section1_wrap.on .section1::before{
    transform: translateX(100%);  
} */
/* #main .section1_wrap .section1::after{
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 100;
}
#main .section1_wrap.on .section1::after{
    transform: translateX(100%);  
} */
#main .section1 h2{
    width: 100%;
    background: url("../images/mainCon1_tit.png") no-repeat center top;
    text-align: center;
}
#main .section1 .tit{
    font-size: 17px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    margin-top: 57px;
}
#main .section1 ul{
    width: 1220px;
    margin: 0 auto;
    margin-top: 74px;
}
#main .section1 ul li{
    float: left;
    width: 25%;
    text-align: center;
    background: url("../images/mainCon1_bar.png") no-repeat;
}
#main .section1 ul li.on a{
    transform: translateY(-40px);
}

#main .section1 ul li:first-child{
    background: none;
}
#main .section1 ul li a{
    display: block;
    color: #fff;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
} 
#main .section1 ul li a h4{
    font-size: 28px;
    line-height: 1;
    margin-top: 45px;
}
#main .section1 ul li a .txt{
    font-size: 16px;
    line-height: 1.5;
    margin: 22px 0 35px 0;
}
#main .section1 ul li a .btn_more{
    opacity: 0;
    transition: all 0.3s ease;
}
#main .section1 ul li.on .btn_more{
    opacity: 1; 
}

#main .section2{
    position: relative;
    width: 100%;
    overflow: hidden;
}
#main .section2 .imgbox_group{
    display: flex;
}
#main .section2 .imgbox_group .imgbox{
    position: relative;
    width: 50%;
    height: 460px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
#main .section2 .imgbox_group .imgbox.left{
    background-image: url(../images/subvisual4.jpg);
}
#main .section2 .imgbox_group .imgbox.right{
    background-image: url(../images/mainCon_bg3.jpg);
}
#main .section2 .imgbox_group .imgbox .box{
    position: absolute;
    top: 50%;
    right: 10%;
    display: block;
    width: 260px;
    margin-top: -135px;
    text-align: center;
    transition: 0.2s;
}
#main .section2 .imgbox_group .imgbox .box > div{
    padding: 40px 0 30px;
    height: 150px;
    background: #009cffe6;
    transition: 0.2s;
}
#main .section2 .imgbox_group .imgbox .box.type2 > div{
    background: #15245de6;
}
#main .section2 .imgbox_group .imgbox .box > .bg{
    position: relative;
    padding: 0;
    width: 100%;
    height: 50px;
    background: url(../images/main_box_bg.png) no-repeat 0 100%;
}
#main .section2 .imgbox_group .imgbox .box > div h3{
    font-size: 32px;
    color: #fff;
    line-height: 1;
    padding-bottom: 31px;
    background: url(../images/bar54x1.gif) no-repeat 50% 100%;
}
#main .section2 .imgbox_group .imgbox .box > div p{
    font-size: 17px;
    color: #fff;
    line-height: 1.5;
    margin: 25px 0 40px;
}
#main .section2 .imgbox_group .imgbox .box > div .btn{
    display: inline-block;
    opacity: 0;
    transition: 0.2s;
}
#main .section2 .imgbox_group .imgbox .box.type2 > .bg{
    background: url(../images/main_box_bg2.png) no-repeat 0 100%;
}
#main .section2 .imgbox_group .imgbox .box > div .btn > img{
    display: inline-block;
}
#main .section2 .imgbox_group .imgbox .box > div .btn > img.mobile{
    display: none;
}
#main .section2 .imgbox_group .imgbox .box:hover{
    margin-top: -170px;
    transition: 0.2s;

}
#main .section2 .imgbox_group .imgbox .box:hover > div{
    height: 220px;
    transition: 0.2s;
}
#main .section2 .imgbox_group .imgbox .box:hover > div .btn{
    opacity: 1;
    transition: 0.2s;
}
#main .section2 .imgbox_group .imgbox .box:hover > .bg{
    padding: 0;
    height: 50px;
}
#main .section2 .imgbox_group .imgbox .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
#main .section2 .imgbox_group .imgbox > .mask{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
}
#main .section2 .imgbox_group .imgbox.left > .mask{
    background: #a4733a;
}
#main .section2 .imgbox_group .imgbox.right > .mask{
    background: #163b51;
}

#main .section3{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}
#main .section3 .left{
    width: 50%;
    height: 495px;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
}

#main .section3 .left .tit{
    margin: 0 auto 30px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
#main .section3 .left .btn_plus,
#main .section3 .right .btn_plus{
    position: absolute;
    left: 140px; top: 100px;
    z-index: 100;
}
#main .section3 .left .new_slide2{
    width: 100%;
}
#main .section3 .left .swiper-pagination{
    position: absolute;
    top: 22px;
    bottom: auto;
    left: auto;
    right: 0;
    width: auto;
    font-size: 16px;
    color: #767676;
    text-align: right;
}
#main .section3 .left .swiper-pagination-current{
    font-weight: bold;
    color: #004b8d;
}
#main .section3 .left .new_slide2 .swiper-button-prev{
    width: 44px;
    height: 44px;
    background: url(../images/news_prev.png)no-repeat;
    text-indent: -99999px;
    position: absolute;
    left: 0; top: 22px;
    /* border: 1px solid red; */
}
#main .section3 .left .new_slide2 .swiper-button-next{
    width: 44px;
    height: 44px;
    background: url(../images/news_next.png)no-repeat;
    text-indent: -99999px;
    position: absolute;
    left: 44px; top: 22px;
}
#main .section3 .left .swiper-slide a{
    display: block;
    /* padding-top: 90px; */
    box-sizing: border-box;
    padding: 0 40px;
    margin-top: 90px;
    background: url(../images/bar1x225.png)no-repeat 0 center;
}
#main .section3 .left .swiper-slide .sd1{
    padding-left: 0;
    background: none;
}
#main .section3 .left .swiper-slide .sd3{
    padding-right: 0;
}
#main .section3 .left .swiper-slide a .label{
    font-weight: bold;
    font-size: 16px;
    color: #004b8d;
}
#main .section3 .left .swiper-slide a .tit{
    width: 100%;
    height: 56px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    line-height: 28px;
    margin: 20px 0;
}
#main .section3 .left .swiper-slide a .txt{
    width: 100%;
    height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 22px;
    font-size: 15px;
    color: #555;
}
#main .section3 .left .swiper-slide a .date{
    display: block;
    font-size: 15px;
    color: #555;
    line-height: 1;
    margin-top: 20px;
}
#main .section3 .right{
    width: 50%;
    height: 495px;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
}
#main .section3 .right .news{
    margin: 0 auto 30px;
}
/* #main .section3 .right .btn_plus{
    position: absolute;
    left: 140px; top: 100px;
    cursor: pointer;
    border: 1px solid #000;

} */
#main .section3 .right .new_slide{
    width: 100%;
}
#main .section3 .right .swiper-pagination{
    position: absolute;
    top: 22px;
    bottom: auto;
    left: auto;
    right: 0;
    width: auto;
    font-size: 16px;
    color: #767676;
    text-align: right;
}
#main .section3 .right .swiper-pagination-current{
    font-weight: bold;
    color: #004b8d;
}
#main .section3 .right .new_slide .swiper-button-prev{
    width: 44px;
    height: 44px;
    background: url(../images/news_prev.png)no-repeat;
    text-indent: -99999px;
    position: absolute;
    left: 0; top: 31px;
    /* border: 1px solid red; */
}
#main .section3 .right .new_slide .swiper-button-next{
    width: 44px;
    height: 44px;
    background: url(../images/news_next.png)no-repeat;
    text-indent: -99999px;
    position: absolute;
    left: 44px; top: 31px;
}
#main .section3 .right .swiper-slide a{
    display: block;
    /* padding-top: 90px; */
    box-sizing: border-box;
    padding: 0 40px;
    margin-top: 90px;
    background: url(../images/bar1x225.png)no-repeat 0 center;
}
#main .section3 .right .swiper-slide .sd1{
    padding-left: 0;
    background: none;
}
#main .section3 .right .swiper-slide .sd3{
    padding-right: 0;
}
#main .section3 .right .swiper-slide a .label{
    font-weight: bold;
    font-size: 16px;
    color: #004b8d;
}
#main .section3 .right .swiper-slide a .tit{
    width: 100%;
    height: 56px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    line-height: 28px;
    margin: 20px 0;
}
#main .section3 .right .swiper-slide a .txt{
    width: 100%;
    height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 22px;
    font-size: 15px;
    color: #555;
}
#main .section3 .right .swiper-slide a .date{
    display: block;
    font-size: 15px;
    color: #555;
    line-height: 1;
    margin-top: 20px;
}

#footer{
    background: #f1f1f1;
    width: 100%;
    height: 290px;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}
#footer .top{
    position: relative;
    padding: 45px 30px 52px;
    border-bottom: 1px solid #dcdcdc;
    box-sizing: border-box;
}
#footer .top .links{
    text-align: center;
}
#footer .top .links a{
    font-size: 16px;
    color: #767676;
}
#footer .top .links span{
    margin: 0 20px;
    font-size: 14px;
    color: #dcdcdc;
}
#footer .top .links span:last-child{
    display: none;
}
#footer .top .links a:first-child,
#footer .top .links .cy,
#footer .top .links .vi{
    font-weight: bold;
    color: #333;
}
#footer .top .family{
    position: absolute;
    top: 39px;
    right: 40px;
    z-index: 100;
}

#footer .top .family>a{
    display: block;
    padding: 0 20px;
    width: 180px;
    height: 46px;
    line-height: 44px;
    font-size: 15px;
    color: #555;
    background: #dbdbdb url(../images/family_icon.png) no-repeat right 18px top 50%;
}
#footer .top .family>a.on{
    background: #dbdbdb url(../images/family_icon_on.png) no-repeat right 18px top 50%;
}
#footer .top .family>div{
    display: none;
    position: absolute;
    bottom: 46px;
    left: 0;
    padding: 30px 0;
    width: 218px;
    height: 203px;
    background: #fff;
    border: 1px solid #dcdcdc;
    overflow-y: auto;
    z-index: 100;
}
#footer .top .family>div a{
    display: block;
    padding: 0 30px;
    font-size: 16px;
    color: #555;
    line-height: 1.1;
    margin-top: 15px;
}
#footer .bottom{
    padding: 30px 30px 65px;
    /* box-sizing: border-box; */
    position: relative;
}
#footer .bottom .add,
#footer .bottom .copy{
    line-height: 25px;
    font-size: 15px;
    color: #767676;
    text-align: center;
    margin-bottom: 10px
}
#footer .bottom .footmark{
    position: absolute;
    top: 30px;
    right: 40px;
    overflow: hidden;
    /* display: flex; */
}

/* #footer .bottom .footmark a{
    margin-right: 10px;
}
#footer .bottom .footmark p{
    margin-right: 13px;
}
#footer .bottom .footmark p{
    margin-right: 3px;
}
#footer .bottom .footmark p{
    margin-right: 6px;
} */
#m_header{
    display: none;
}
/* ------------------------------------------태블릿------------------------------------------ */
@media screen and ( max-width:1170px ){
    #header{display: none;}
    #m_header{display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
        background: rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        z-index: 999;
        
    }
    #m_header h1{
        display: block;
        width: 100%;
        height: 75px;
        text-align: center;
    }
    #m_header h1 a{
        display: inline-block;
        vertical-align: top;
        margin-top: 19px;
    }
    #m_header .m_btn{
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -12.5px;
        border: none;
        background: none;
    }
    #main .main_visual .swiper-slide{
        /* height: 593px; */
    }
    #main .main_visual .swiper-slide video{
        display: none;
    }
    #main .main_visual .swiper-wrapper .s1{
        background: url(../images/1.png) no-repeat center top;
        background-size: cover;
        height: 100%;
    }
    #main .main_visual .swiper-wrapper .s2{
        background: url(../images/2-2.png) no-repeat center top;
        background-size: cover;
    }
    #main .main_visual .swiper-wrapper .s3{
        background: url(../images/3-2.png) no-repeat center top;
        background-size: cover;
    }
    #main .main_visual .swiper-wrapper .s4{
        background: url(../images/4-2.png) no-repeat center top;
        background-size: cover;
    }
    #main .main_visual .swiper-wrapper .s5{
        background: url(../images/5-2.png) no-repeat center top;
        background-size: cover;
    }
    #main .main_visual .swiper-wrapper .s6{
        background: url(../images/8-2.png) no-repeat center top;
        background-size: cover;
    }

    #main .main_visual .swiper .swiper-pagination{
        display: block;
        margin-bottom: 170px;
    }
    #main .main_visual .swiper .swiper-pagination-bullet{
        width: 30px;
        height: 30px;
        background: url(../images/m_main_indi.png) no-repeat 50% 50%;
        background-size: 30px 30px;
   
    }
    #main .main_visual .swiper .swiper-pagination-bullet-active{
        width: 30px;
        height: 30px;
        background: url(../images/m_main_indi_on.png) no-repeat 50% 50%;
        background-size: 30px 30px;
    }
    #main .main_visual .maintit{
        display: none;
    }
    #main .main_visual .m_maintit{
        display: block;
        position: absolute;
        top: 230px;left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    #main .section1{
        height: 920px;
        padding-top: 100px;
        box-sizing: border-box;
        
    }
    #main  .section1 ul{
        width: 100%;
    }
    #main  .section1 ul li{
        width: 50%;
    }
    #main  .section1 ul li a{
        opacity: 1;
    }
    #main  .section1 > .inner > div a{
        display: block;
    }
    #main .section2{
        height: auto;
        width: 100%;
        overflow: hidden;
    }
    #main .section2 .imgbox_group{
        display: block;
        width: 100%;
    }
    
    #main .section2 .imgbox_group .imgbox{
        float: none;
        width: 100%;
        height: 600px;
    }

    #footer .top .links {
        text-align: left;
    }
    #footer .top .family {
        right: 20px;
    }
    #footer .bottom .add{
        width: calc(100% - 50%);
        margin: 0;
        text-align: left;
    }
    #footer .bottom .footmark {
        right: 20px;
    }
    #footer .bottom .copy {
        text-align: left;
    }
}
/* ------------------------------------------모바일------------------------------------------ */
@media screen and ( max-width:758px ){
    #m_header{
        height: 50px;
    }
    #m_header h1 img{
        height: 17px;
        margin-top: 0;
    }
    #m_header .m_btn img{
        height: 13px;
        margin-top: 5px;
    }
    #main .main_visual .m_maintit{
        display: none;
    }
    #main .main_visual .m_maintit2{
        display: block;
        position: absolute;
        top: 230px;left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        height: 60px;
    }
    #main .section1{
        background: url(../images/m_mainCon_bg1.jpg) no-repeat;
    }
    #main .section1 h2 img{
        display: none;
    }
    #main .section1 h2{
        height: 100px;
        background: url(../images/m_mainCon1_tit.png) no-repeat center;
        z-index: 999;
        /* border: 1px solid #000; */
        margin-top: -50px;
    }
    #main .section1 .tit{
        font-size: 13px;
        margin-top: 10px;
    }
    #main .section2 .imgbox_group .imgbox{
        float: none;
        width: 100%;
        height: 300px;
        
    }
    #main .section2 .imgbox_group .imgbox .box{
        width: 180px;
        margin-top: -88.5px;
        text-align: center;
        height: 100px;
    }

    #main .section2 .imgbox_group .imgbox .box > div{
        height: 70px;
        background: #009cffe6 url(../images/m_main_over_btn.png) no-repeat center bottom -5px;
        background-size: 61px 25px;
        /* border: 1px solid red; */
    }
    #main .section2 .imgbox_group .imgbox .box.type2 > div{
        height: 70px;
        background: #15245de6 url(../images/m_main_over_btn.png) no-repeat center bottom -5px;
        background-size: 61px 25px;

    }
    #main .section2 .imgbox_group .imgbox .box:hover{
        margin-top: -88.5px;

    }   
    #main .section2 .imgbox_group .imgbox .box.type2:hover{
        margin-top: -88.5px;

    }
    /* #main .section2 .imgbox_group .imgbox .type2:hover{
        margin-top: -88.5px;
    } */
    #main .section2 .imgbox_group .imgbox .box:hover div{
        height: 70px;
    }
    #main .section2 .imgbox_group .imgbox .box.type2:hover div{
        height: 70px;
    }
    #main .section2 .imgbox_group .imgbox .box .content h3{
        display: block;
        font-size: 20px;
        /* border: 1px solid #000; */
        margin-top: -15px;
    }
    #main .section2 .imgbox_group .right .bg{
        /* border: 1px solid red; */
        margin-top: -21px;
    }
    #main .section2 .imgbox_group .imgbox .box > div h3{
        padding-bottom: 15px;
    }
    #main .section2 .imgbox_group .imgbox .box .content .btn{
        display: none;
    }
    #main .section2 .imgbox_group .imgbox .box .content p{
        font-size: 13px;
        margin-top: 12px;
    }
    #main .section3{
        display: block;
        width: 100%;
    }
    #main .section3 .right .swiper-slide a .label,
    #main .section3 .left .swiper-slide a .label{
        font-size: 12px;
    }
    #main .section3 .right .swiper-slide a .tit,
    #main .section3 .left .swiper-slide a .tit{
        font-size: 14px;
    }
    #main .section3 .left .new_slide2{
        margin-bottom: 0;
    }
    #main .section3 .left .new_slide{
        margin-top: 0;
    }
    #main .section3 .left,
    #main .section3 .right{
        width: 100%;
    }
    
    #main .section3 .right .news img{
        height: 15px;
    }
    #main .section3 .left .recruit{
        width: 100%;
    }
    #main .section3 .left .recruit .tit{
        font-size: 20px;
        font-weight: bold;
        color: #000;
        letter-spacing: -0.08em;
    }
    #main .section3 .left .new_slide2 .swiper-button-prev,
    #main .section3 .right .new_slide .swiper-button-prev{
        width: 30px;
        height: 30px;
        background: url(../images/m_news_prev.jpg)no-repeat;
        background-size: cover;
        text-indent: -99999px;
        position: absolute;
        left: 0; top: 22px;
        /* border: 1px solid red; */
    }
    #main .section3 .left .new_slide2 .swiper-button-next,
    #main .section3 .right .new_slide .swiper-button-next{
        width: 30px;
        height: 30px;
        background: url(../images/m_news_next.jpg)no-repeat;
        background-size: cover;
        text-indent: -99999px;
        position: absolute;
        left: 29px; top: 22px;
    }
    #main .section3 .recruit,
    #main .section3 .new{
        position: relative;
    }
    #main .section3 .right{
        margin-top:-120px;
    }
    #main .section3 .recruit .btn_plus{
        position: absolute;
        left: 68px;
        top: 50px;
    }
    #main .section3 .new .btn_plus{
        position: absolute;
        left: 68px;
        top: 46px;

    }
    #main .section3 .btn_plus img{
        height: 30px;

    }
    #main .section3 .right .swiper-slide a .txt{
        width: 100%;
        height: 66px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 22px;
        font-size: 13px;
        color: #555;
    }
    #main .section3 .right .swiper-slide a .date{
        display: block;
        font-size: 13px;
        color: #555;
        line-height: 1;
        margin-top: 20px;
    }
    #footer{
        /* overflow: hidden; */
        height: 250px;
        padding: 0;
    }
    #footer .top .links{
        margin-bottom: -50px;
    }
    #footer .top .links a{
        display: inline-block;
        font-size: 12px;

    }
    #footer .top .family{
        left: 2%;
        /* transform: translateX(-50%); */
        top: 90px;
    }
    #footer .top .family>a{
        display: block;
        padding: 0 15px;
        width: auto;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        background: #dbdbdb url(../images/family_icon.png) no-repeat right 15px top 50%;
    }
    #footer .top .family>div{
        bottom: 30px;
        left: 0;
        padding: 15px 0;
        width: 100%;
        height: 170px;
        box-sizing: border-box;

    }
    #footer .top .family>div a{
        display: block;
        padding: 0 15px;
        font-size: 14px;
        color: #555;
        line-height: 1.1;
        margin-top: 15px;
    }
    #footer .bottom{
        width: 100%;
        height: auto;
        padding-bottom: 0;
        /* padding: 30px 30px 85px; */
    }
    #footer .bottom .add{
        width: 90%;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
        padding-right: 10px;
    }
    #footer .bottom .copy{
        font-size: 12px;
        text-align: center;

    }
    #footer .bottom .footmark{
        /* position: absolute; */
        /* width: 100%; */
        /* bottom: 0;
        left: 50%;
        transform: translateX(-50%); */
        left: 0;
        /* transform: translateX(50%); */
        text-align: center;
        margin-top: 70px;
        /* border: 1px solid #000; */
    }
  
    #footer .bottom .footmark img{
        height: 15px;
    }

    #footer .bottom .footmark a{
        padding-right: 0;
    }
}